<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteCond $1 !^(qr\.php|font|lib|temp|dev|qrcode)
 RewriteCond %[REQUEST_FILENAME] !-f
 RewriteCond %[REQUEST_FILENAME] !-d
 RewriteRule ^(.*)$ qr.php?val=$1 [L]
</IfModule>
