<IfModule mod_rewrite.c>
 RewriteEngine On
 RewriteCond $1 !^(reconcile\.php|common|img|css|img|js|vendor)
 RewriteCond %[REQUEST_FILENAME] !-f
 RewriteCond %[REQUEST_FILENAME] !-d
 RewriteRule ^(.*)$ $1.php [L]
</IfModule>
